<div class="navbar navbar-dark bg-dark container">
    <a class="btn btn-dark btn-lg" asp-action="Finished">Finished travels</a>
    <a class="btn btn-dark btn-lg" asp-action="Index">Created travels</a>
    <a class="btn btn-dark btn-lg" asp-action="Approved">Approved in travels</a>
    <a class="btn btn-dark btn-lg" asp-action="Applied">Applied in travels</a>
    <a class="btn btn-dark btn-lg" asp-controller="Travels" asp-action="Create">Create new travel</a>
</div>