@{
    ViewData["Title"] = "Our Mission";
}
<h1>@ViewData["Title"]</h1>

<p></p>
<p>Carpooling is an app for shared transport.</p>
<p>Drivers and passengers - together, we’re on a mission to transform transportation by building a more sustainable, affordable, accessible and humane way to organize our transportation.</p>
<p>Share your ride - save the planet, save money, make new friends!</p>
<hr>
